In [153]:
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime, timedelta
from sklearn.preprocessing import OneHotEncoder

In [2]:
app_launch_df = pd.read_csv("Data\AppLaunched.csv")

In [3]:
app_uninstall_df = pd.read_csv("Data\AppUninstalled.csv")

In [4]:
register_df=pd.read_csv("Data\Registration.csv")

In [5]:
UTM_df = pd.read_csv(r"Data\UTMVisited.csv")

In [6]:
video_details_df=pd.read_csv("Data\VideoDetails.csv")

In [7]:
video_started_df=pd.read_csv("Data\VideoStarted.csv")

In [88]:
applaunch=app_launch_df['UserId'].nunique()
registered_new=register_df[register_df['Status']!='Not Completed']
appuninstall_new=list(app_uninstall_df['UserId'])
current_users = registered_new[~registered_new['UserId'].isin(appuninstall_new)]
print(current_users)

                                  UserId      Date  Minute_Of_Day  Second  \
0       d168e2b924124feaad13eae44a68fce9  20170106              0       8
7       4f2d501fa5a5ba55e77062c1f00c20bf  20170106              4      56
9       159e6b8891019f73454168def8a3d466  20170106              6      52
21      6e74fe8ad3b9a90a781a6a1ca6d8eab0  20170106             19      20
22      bc0af6927221b79e62594d937f22988b  20170106             19      40
27      ce7c2586b527729bab51c7e254c50a65  20170106             29       4
29      db503b7b3a164bf7bdaee2d122a86587  20170106             31      52
48      8cc8a519afd30d379a6e2c7b82815796  20170106             58       8
51      ac216b4f2ad1cd96aa84b141093e321f  20170106             61      40
58      1584abfccc4bf77121a4b85254c85c90  20170106             73      48
85      6a6b91ab7436273419e9e876f59069ff  20170106            130       4
89      f2dfc3988081ae919933651e21bf448b  20170106            140      28
90      c77d7394a974401e7ef8668c29d747c6  20170106            142      12
100     db2ba5a1d3c6aac039487b70439e6931  20170106            174      32
101     71ea4f3c094ac59d6e5c7f622cfa09d3  20170106            178      56
105     c026093060a1f53a71cfc8cff40617b1  20170106            193      16
110     5b2339393ef7d24f309d521c53d5ad8a  20170106            216      28
120     3594e6e7899e89d566caac4d9062985f  20170106            313       0
130     14e4e3cfbf9f81fff60082f95ad2e4aa  20170106            379      36
140     3e58043ed65ebd643b090a21930f6c47  20170106            408       0
148     251771df7406ff86a4b0d97e9a2bae66  20170106            421      36
151     4a4e1acf66a575aa856d3f8024a0ec14  20170106            428      40
153     c4f90b0b31e2306275020fea2fc02e26  20170106            431      40
157     a03c5e6aca1046f60cc4996217b741ef  20170106            438      48
159     573023f5c9e1f4d272fca120e3d77c0e  20170106            444       4
163     85fc687a72e42e6a41911dc663dab710  20170106            449      28
171     5cdc08ca28812cfb794f2cba434d8f1b  20170106            461      32
184     8f54ae47852439aac380d9df500bdce2  20170106            477      32
195     1f3f45870c20da8c4a024ae073441cba  20170106            494      20
196     fd50fc8ad40bcb97b70d6702f2170d7b  20170106            494      36
...                                  ...       ...            ...     ...
329533  cf10aebcce1fa287a57fbbb90b60f386  20170612           1417      16
329534  597ea6d715e027c37fc6b920a7e52e65  20170612           1417      24
329539  67324a742093bfb5b39d8dcdf7bfc1e5  20170612           1419      40
329544  e7ee6e1570ed3fd5619ea1c24c3e64a1  20170612           1421      16
329545  64382f1506674203544055eec18bc768  20170612           1422       8
329546  b21c9c3e31581e7dfb2747f36937e0bf  20170612           1422      20
329547  2e5055d50860e85a033f44c8c99b5c9c  20170612           1422      32
329548  38e1d61ba4a4bdcf1af59c02d67ceca1  20170612           1422      32
329550  7bc220e7bf8b465454795dfc71b8796d  20170612           1423       8
329551  eba299d4002c57fdce4c47b4cc2f7dc8  20170612           1423      24
329552  cae4b3f09289e1dd211726fa84ae6b1c  20170612           1424      20
329553  73d936aea4ea05a98acc3db6a1233f3e  20170612           1425      16
329554  4f6e30459624c589a83ff18536fc0b02  20170612           1425      20
329555  178aaa9f3718698481707ef68b3cfc97  20170612           1425      24
329557  4774f09d04db564faa0e37481321186c  20170612           1426      56
329558  60f2b4f65c01d0a6e4a0a8806aac9a44  20170612           1427       0
329559  b98913617e99adef5e3305bf3f68de3a  20170612           1427       8
329563  3972d5632bc01517405c9566d77a371f  20170612           1430       8
329564  da11852ff4b2b8648ccec90e6c18c8b3  20170612           1431      36
329565  d1c45fb2095561d64653e2aed4b1ae28  20170612           1431      44
329567  3d803d52694bb96c97e0de6e6e84fe68  20170612           1433       0
329568  a12d0137dceac704c0d52fd92f6d81f9  20170612           1434      16
329569  b950070819ce699b09d68259dd78e8d0  20170612           1435      16
329571  ada7e75c4a100f03e3dd5ef33eaa657a  20170612           1436       8
329572  fd84d723ee8e07cf1f8ff12cb4f4270d  20170612           1437      16
329573  d18728bd6882d671def345e9eb645be3  20170612           1437      56
329574  9e8f5426d92121c20935fed78c91e09c  20170612           1438      12
329576  298fabe186d82b1bf649cc377280fde9  20170612           1438      52
329577  71c22da5a62d974dda5a3987e41021ca  20170612           1439       0
329578  b4eaaf8bc87ad059e64750369cabc82c  20170612           1439      56

        State  Country  Device  OS     Status
0          35        1       1   2   Complete
7          35        1       1   2   Complete
9          33       40       1   2   Complete
21          0      255       1   1  Completed
22         35        1       1   2   Complete
27         46       40       0   0  Completed
29         35        1       1   2   Complete
48         23       40       1   1  Completed
51         35        1       2   2   Complete
58         33       40       1   2   Complete
85         33       40       1   2   Complete
89         35        1       1   2   Complete
90         41        1       1   2   Complete
100         0      255       1   2   Complete
101        35        1       1   2   Complete
105        33       40       1   1  Completed
110        35        1       1   1  Completed
120        15       40       0   0  Completed
130        35        1       1   2   Complete
140         0      255       1   2   Complete
148         0      255       1   2   Complete
151         2        1       2   1  Completed
153         0      255       0   0  Completed
157        35        1       1   2   Complete
159        46       40       1   2   Complete
163        36        1       1   2   Complete
171        37        1       1   1  Completed
184        33       40       1   1  Completed
195        35        1       1   2   Complete
196        35        1       1   2   Complete
...       ...      ...     ...  ..        ...
329533     33       40       1   1  Completed
329534     36        1       1   1  Completed
329539     24        1       1   1  Completed
329544     57        1       1   1  Completed
329545     35        1       1   1  Completed
329546     31       40       2   1  Completed
329547    160       40       2   1  Completed
329548     36        1       1   1  Completed
329550     57        1       1   1  Completed
329551    160       40       1   1  Completed
329552     35        1       1   2   Complete
329553     33       40       1   2   Complete
329554     35        1       1   1  Completed
329555     57        1       1   1  Completed
329557     35        1       1   1  Completed
329558     57        1       1   1  Completed
329559     57        1       1   1  Completed
329563    160       40       1   1  Completed
329564     36        1       1   1  Completed
329565     57        1       1   1  Completed
329567     46       40       1   1  Completed
329568     57        1       1   1  Completed
329569     35        1       1   1  Completed
329571     40        1       1   1  Completed
329572     33       40       1   1  Completed
329573     57        1       1   1  Completed
329574     57        1       1   1  Completed
329576     36        1       1   1  Completed
329577     40        1       1   1  Completed
329578     57        1       1   1  Completed

[71449 rows x 9 columns]

In [8]:
master_df=pd.DataFrame()

In [254]:
app_reg_users=app_launch_df['UserId'].append(register_df['UserId'])         #449387

In [10]:
app_reg_users.count()      #3045672

3045672

In [11]:
app_reg_utm_users=app_reg_users.append(UTM_df['UserId'])

In [12]:
app_reg_utm_users.nunique()       #449583

449583

In [13]:
app_reg_utm_video_users=app_reg_utm_users.append(video_started_df['UserId'])

In [14]:
app_reg_utm_video_users.nunique()

449587

In [15]:
app_reg_utm_video_start_users=app_reg_utm_video_users.append(video_details_df['UserId'])

In [16]:
app_reg_utm_video_start_users.nunique()

449593

In [17]:
app_reg_utm_video_start_uninstall_users=app_reg_utm_video_start_users.append(app_uninstall_df['UserId'])

In [18]:
len(app_reg_utm_video_start_uninstall_users)

9360182

In [19]:
app_reg_utm_video_start_uninstall_users.nunique()

466124

In [20]:
master_df['UserId']=app_reg_utm_video_start_uninstall_users

In [21]:
master_df.UserId.isin(register_df.UserId).value_counts()

True     7819237
False    1540945
Name: UserId, dtype: int64

In [255]:
mas_df=pd.DataFrame()

In [256]:
mas_df['u_id']=master_df['UserId'].unique().tolist()

In [257]:
mas_df.head()

                               u_id
0  a27134c322d4f56dabc106a6847cb96b
1  aab39ad0874c59cc388525d511667f9d
2  f717dc3f757dc18cc0c3f27ed3e94ef8
3  04c1e14fd54a06c0d4fe98cf0cb8b04c
4  71f05822bb699a04b694dd30265fdf73

In [258]:
mas_df.rename(columns={'u_id':'UserId'},inplace=True)

In [259]:
mas_df.shape

(466124, 1)

In [260]:
pd.merge(mas_df[['UserId']],register_df[['UserId','Status']],on='UserId')

                                  UserId         Status
0       13d9f55e297d7d9c219fbe9085e1006c       Complete
1       fccc2c0abf5afabf242a70df7b4c9e69      Completed
2       b7b3c1ce773a13b52d39429e305ea615      Completed
3       4a48b6f152717235733e4bd48e5a3449  Not Completed
4       4a48b6f152717235733e4bd48e5a3449  Not Completed
5       4c4cc9f932592870d04d63b95274b318      Completed
6       4f2d501fa5a5ba55e77062c1f00c20bf       Complete
7       159e6b8891019f73454168def8a3d466       Complete
8       2807a249904b51919cc304069466c4c0       Complete
9       29923a4627f55193f3710b645f959668       Complete
10      93b755f457a9d3e14a06ebd843583560  Not Completed
11      93b755f457a9d3e14a06ebd843583560  Not Completed
12      93b755f457a9d3e14a06ebd843583560  Not Completed
13      5d220d1472e0e612698a2ee058ae72b1  Not Completed
14      71b3c703736eb7c76b7304a0b0595745  Not Completed
15      9e3c3a4e4740d3bb2549a41eeba1a1ff      Completed
16      cb08fcb70aa235557c941ef6224aeb48      Completed
17      9ace67935b3c0cad0ffcedac9206eacd      Completed
18      e8e49dc1927e21b9ce156e85a230482e      Completed
19      7bc62e619048431165d8f3b16e77df3c       Complete
20      b2537964c1c6812227164f2d21e4f056      Completed
21      782788c29df8b5186e7397397ae6e867      Completed
22      6e74fe8ad3b9a90a781a6a1ca6d8eab0      Completed
23      bc0af6927221b79e62594d937f22988b       Complete
24      5d06cbde995872a0dfd71ae0e42bd8ac      Completed
25      162144eef36ca255893d728243bbebae  Not Completed
26      162144eef36ca255893d728243bbebae  Not Completed
27      e67250dc001f274e035196ae67a12fb1  Not Completed
28      23bd707a3b992a4cf3d9c93418481f01      Completed
29      d4984df3c20408ce64fdfed2ebd62fd2       Complete
...                                  ...            ...
329549  aae1825235a947d87abf858b8bb6dc36      Completed
329550  77afa8c19636aa24ea88257521791449      Completed
329551  ce1034f0d1e3fdafc56736ceb8581b34      Completed
329552  64382f1506674203544055eec18bc768      Completed
329553  fde4217e48bcb26909c44fa984b932f5  Not Completed
329554  fde4217e48bcb26909c44fa984b932f5      Completed
329555  eeae87f7434839cba42b81670af88e40      Completed
329556  597ea6d715e027c37fc6b920a7e52e65      Completed
329557  7bc220e7bf8b465454795dfc71b8796d      Completed
329558  67324a742093bfb5b39d8dcdf7bfc1e5      Completed
329559  eba299d4002c57fdce4c47b4cc2f7dc8      Completed
329560  b21c9c3e31581e7dfb2747f36937e0bf      Completed
329561  2e5055d50860e85a033f44c8c99b5c9c      Completed
329562  9e8f5426d92121c20935fed78c91e09c      Completed
329563  b98913617e99adef5e3305bf3f68de3a  Not Completed
329564  b98913617e99adef5e3305bf3f68de3a      Completed
329565  73d936aea4ea05a98acc3db6a1233f3e       Complete
329566  cae4b3f09289e1dd211726fa84ae6b1c       Complete
329567  4774f09d04db564faa0e37481321186c      Completed
329568  60f2b4f65c01d0a6e4a0a8806aac9a44      Completed
329569  e61c4401dd69edfe66070ffd283e325d  Not Completed
329570  3972d5632bc01517405c9566d77a371f      Completed
329571  3d803d52694bb96c97e0de6e6e84fe68      Completed
329572  d1c45fb2095561d64653e2aed4b1ae28      Completed
329573  ada7e75c4a100f03e3dd5ef33eaa657a      Completed
329574  b950070819ce699b09d68259dd78e8d0      Completed
329575  a12d0137dceac704c0d52fd92f6d81f9      Completed
329576  298fabe186d82b1bf649cc377280fde9      Completed
329577  71c22da5a62d974dda5a3987e41021ca      Completed
329578  deed7490952a6746610ee2ee9fd219b7      Completed

[329579 rows x 2 columns]

In [261]:
r1=register_df.groupby(['UserId','Status']).size().unstack()

In [262]:
r1

Status                            Complete  Completed  Not Completed
UserId
0000146e97c32d369268e5ba5f4b907c       NaN        1.0            NaN
00001e3213a2159ed06f1db689c54fbb       NaN        1.0            NaN
00004010d92c2f13b824237bc323d58b       NaN        1.0            NaN
000076c7bbdf7e4568777134cc4bec56       1.0        NaN            NaN
0000e560394fce891dcf80218793d181       NaN        1.0            NaN
000111507a214a26efe459cb2807cd78       NaN        2.0            NaN
00015c69cccd32bcd323227b7140d8a8       2.0        NaN            NaN
00016983c67858a09eb4b56cf4dc1a09       NaN        1.0            1.0
00016f6ad820aa24940343f837799519       1.0        NaN            NaN
0001a638c436640320470c397422d74c       NaN        1.0            NaN
000263491d117588d3fdf2ab328a2ef0       NaN        1.0            NaN
0002687e32b468bef8d9407f126f9d14       1.0        NaN            NaN
0002701230fe824d54247872741b9cc9       NaN        1.0            NaN
000296c274f089ee214456d7cd4860aa       NaN        1.0            NaN
000338113b91b9848c7b69e909643f73       NaN        NaN            1.0
00033dcbc900cad4c0cef13b3cef044e       NaN        1.0            NaN
00034fe5ce0ba2edf741dadca3c698cb       NaN        1.0            NaN
00037a0bd90241a9c3c6e2a4e125b4dd       NaN        1.0            1.0
00039e25654ac6afd396e9cc8ce00b59       NaN        1.0            NaN
0003b17f71fb347083003f72c3e2bb1e       NaN        NaN            1.0
0003b3d3ff23c9809845edcb631d5442       1.0        NaN            NaN
0003bc34cc67b6b668bf5bf5bfcbed70       NaN        1.0            NaN
0004567038ca208c404a360af5271d40       NaN        1.0            NaN
000499a3f614c46042ad4c5996bcf563       NaN        1.0            NaN
000583dab5c3b1fdfbca51cd10022c78       1.0        NaN            NaN
00062b96027d9c065d7fe01500240781       NaN        NaN            1.0
00062cb900c6dc04b197e627bd829268       NaN        1.0            NaN
000665cdcc4a1e7a62061900f09ffef8       NaN        NaN            1.0
00066bb8c654776c38689bc421038c06       NaN        1.0            NaN
00069af838b8dd3063d3f0d7a85d662e       NaN        1.0            NaN
...                                    ...        ...            ...
fffa5eafc6bd4bb3e259eb31ca62be15       NaN        1.0            NaN
fffa9afc5905118fd0adc05edbdc16cb       NaN        1.0            NaN
fffae03cb522703ae0efcc2f1a007666       NaN        2.0            3.0
fffae68767447a41f95dca1761b9a771       NaN        NaN            2.0
fffb77a6e413e9447d2d0ad3571ed645       NaN        1.0            NaN
fffb9bf04438cd9f031e144e1a26a585       NaN        NaN            1.0
fffbd7e6172edd3a844acc1517ed8026       NaN        1.0            NaN
fffc8789cdae9239f422bf89350f1ec0       NaN        1.0            NaN
fffcaedbb7bd1366271335cb7712ba98       NaN        1.0            NaN
fffd16117b2f767fe9ff1ac666ce6822       NaN        1.0            NaN
fffd45f52a57813f088ef46fa8236ed9       NaN        1.0            NaN
fffd561599c9b0f726b60fbf98b76ac1       NaN        3.0            NaN
fffd59c350d2e09af0d490e2b80ed078       NaN        1.0            NaN
fffd72610bc9574054f4de68fe017835       NaN        1.0            NaN
fffda5b567fbf7c391f5ead351476f38       NaN        1.0            NaN
fffdb8e49c4dad940fccdf51da690010       NaN        1.0            2.0
fffdf5b80abf832e05f66b52804b1640       NaN        NaN            3.0
fffe300fc604f90e0df361f43ebca65b       NaN        1.0            NaN
fffeb6b09a7250a92c48611458411358       NaN        3.0            2.0
ffff075bc1b49efed5dd136ecbffa104       NaN        1.0            NaN
ffff14f114fed1b7988cfda12c666b3a       NaN        NaN            1.0
ffff1a1efb12cfa1e723187cff997ddc       NaN        1.0            NaN
ffff2efb37851e7ae7bdba1f8f6e94ba       1.0        NaN            NaN
ffff83e4d19655a89c433a3fe587cd84       1.0        NaN            NaN
ffffa475402ff4c589abaced7b9ec8af       NaN        1.0            NaN
ffffc4597dce678c23b007f9e5769426       NaN        1.0            NaN
ffffd1caa4032372302ec30a5820d105       NaN        1.0            NaN
ffffd1f76c89379f2c645855f0cfb42e       NaN        1.0            NaN
ffffd3641b0352017a996ab3e41515d4       NaN        1.0            NaN
ffffe7f1cf786189b4d73efa482015cf       NaN        1.0            NaN

[259318 rows x 3 columns]

In [263]:
r1.shape

(259318, 3)

In [264]:
mas_df=mas_df.merge(r1,on='UserId',how='left')

In [265]:
mas_df.head(20)

                              UserId  Complete  Completed  Not Completed
0   a27134c322d4f56dabc106a6847cb96b       NaN        NaN            NaN
1   aab39ad0874c59cc388525d511667f9d       NaN        NaN            NaN
2   f717dc3f757dc18cc0c3f27ed3e94ef8       NaN        NaN            NaN
3   04c1e14fd54a06c0d4fe98cf0cb8b04c       NaN        NaN            NaN
4   71f05822bb699a04b694dd30265fdf73       NaN        NaN            NaN
5   b704fe9ea1c0738f53db2579db5a6a4a       NaN        NaN            NaN
6   13d9f55e297d7d9c219fbe9085e1006c       1.0        NaN            NaN
7   9fbe545a8997556d8534e616387c2a0b       NaN        NaN            NaN
8   fccc2c0abf5afabf242a70df7b4c9e69       NaN        1.0            NaN
9   66d4abf4f3b733c27591b3f47c85eff7       NaN        NaN            NaN
10  f76c8c8010a218fc1d6c7ba66707778c       NaN        NaN            NaN
11  4b08d96aa6c74c21cd369caa4bfee23b       NaN        NaN            NaN
12  1a40d7e5b34131b097fac80cf982241b       NaN        NaN            NaN
13  ad248c30f57d2666a94f84e9318b0af6       NaN        NaN            NaN
14  b7b3c1ce773a13b52d39429e305ea615       NaN        1.0            NaN
15  ab2ef5dc4df5f45e9b8dff4c077a2811       NaN        NaN            NaN
16  ca601ff304bf0c0836f8a59f7751b8de       NaN        NaN            NaN
17  4a48b6f152717235733e4bd48e5a3449       NaN        NaN            2.0
18  516f3d05e8784c0caa1e425cb2a56c83       NaN        NaN            NaN
19  4c4cc9f932592870d04d63b95274b318       NaN        1.0            NaN

In [266]:
mas_df['Complete'].min()

1.0

In [267]:
mas_df['Completed'].min()

1.0

In [268]:
mas_df['Not Completed'].min()

1.0

In [269]:
mas_df.fillna(0,inplace=True)

In [270]:
mas_df.head()

                             UserId  Complete  Completed  Not Completed
0  a27134c322d4f56dabc106a6847cb96b       0.0        0.0            0.0
1  aab39ad0874c59cc388525d511667f9d       0.0        0.0            0.0
2  f717dc3f757dc18cc0c3f27ed3e94ef8       0.0        0.0            0.0
3  04c1e14fd54a06c0d4fe98cf0cb8b04c       0.0        0.0            0.0
4  71f05822bb699a04b694dd30265fdf73       0.0        0.0            0.0

In [271]:
mas_df['Reg_Y']=mas_df['Complete']+mas_df['Completed']

In [272]:
a_0=[]
for i in mas_df['Reg_Y']:
    if i!=0.0:
        a_0.append(1)
    else:
        a_0.append(0)

In [273]:
a_1=[]
for i in mas_df['Not Completed']:
    if i!=0.0:
        a_1.append(1)
    else:
        a_1.append(0)

In [274]:
mas_df['Reg_Y']=pd.DataFrame(a_0)

In [275]:
mas_df.rename(columns={'Not Completed':'Reg_N'},inplace=True)

In [276]:
mas_df['Reg_N']=pd.DataFrame(a_1)

In [277]:
mas_df.head()

                             UserId  Complete  Completed  Reg_N  Reg_Y
0  a27134c322d4f56dabc106a6847cb96b       0.0        0.0      0      0
1  aab39ad0874c59cc388525d511667f9d       0.0        0.0      0      0
2  f717dc3f757dc18cc0c3f27ed3e94ef8       0.0        0.0      0      0
3  04c1e14fd54a06c0d4fe98cf0cb8b04c       0.0        0.0      0      0
4  71f05822bb699a04b694dd30265fdf73       0.0        0.0      0      0

In [278]:
mas_df.drop(columns=['Complete','Completed'],axis=1,inplace=True)

In [279]:
mas_df.nunique()

UserId    466124
Reg_N          2
Reg_Y          2
dtype: int64

In [280]:
#uninstalled_no.of devices    #total 326684    #unique 307803
app_uninstall_df['UserId'].nunique()

307803

In [281]:
r4=app_uninstall_df.groupby(['UserId','Device']).size().unstack()

In [282]:
mas_df=mas_df.merge(r4,on='UserId',how='left')

In [283]:

mas_df.fillna({0:0,1:0,2:0,3:0},inplace=True)

In [284]:
mas_df.head()

                             UserId  Reg_N  Reg_Y    0    1    2    3
0  a27134c322d4f56dabc106a6847cb96b      0      0  0.0  0.0  0.0  0.0
1  aab39ad0874c59cc388525d511667f9d      0      0  0.0  0.0  0.0  0.0
2  f717dc3f757dc18cc0c3f27ed3e94ef8      0      0  0.0  1.0  1.0  0.0
3  04c1e14fd54a06c0d4fe98cf0cb8b04c      0      0  0.0  0.0  0.0  0.0
4  71f05822bb699a04b694dd30265fdf73      0      0  0.0  0.0  0.0  0.0

In [285]:
a_2=[]

In [286]:
def fill_cols(data):
    for i in mas_df[data]:
        if i!=0.0:
            a_2.append(1)
        else:
            a_2.append(0)
    return a_2

In [287]:
a_2=[]
fill_cols(0)
mas_df[0]=pd.DataFrame(a_2)

In [288]:
a_2=[]
fill_cols(1)
mas_df[1]=pd.DataFrame(a_2)

In [289]:
a_2=[]
fill_cols(2)
mas_df[2]=pd.DataFrame(a_2)

In [290]:
a_2=[]
fill_cols(3)
mas_df[3]=pd.DataFrame(a_2)

In [291]:
mas_df.head()

                             UserId  Reg_N  Reg_Y  0  1  2  3
0  a27134c322d4f56dabc106a6847cb96b      0      0  0  0  0  0
1  aab39ad0874c59cc388525d511667f9d      0      0  0  0  0  0
2  f717dc3f757dc18cc0c3f27ed3e94ef8      0      0  0  1  1  0
3  04c1e14fd54a06c0d4fe98cf0cb8b04c      0      0  0  0  0  0
4  71f05822bb699a04b694dd30265fdf73      0      0  0  0  0  0

In [292]:
mas_df['No_Of_Devices_Uninstalled']=mas_df[0]+mas_df[1]+mas_df[2]+mas_df[3]

In [293]:
mas_df.head()

,UserId,Reg_N,Reg_Y,0,1,2,3,No_Of_Devices_Uninstalled
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,0,0,0,0
1,aab39ad0874c59cc388525d511667f9d,0,0,0,0,0,0,0
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,0,1,1,0,2
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,0,0,0,0
4,71f05822bb699a04b694dd30265fdf73,0,0,0,0,0,0,0

In [294]:
mas_df.drop([0,1,2,3],axis=1,inplace=True)

In [295]:
mas_df.head()

                             UserId  Reg_N  Reg_Y  No_Of_Devices_Uninstalled
0  a27134c322d4f56dabc106a6847cb96b      0      0                          0
1  aab39ad0874c59cc388525d511667f9d      0      0                          0
2  f717dc3f757dc18cc0c3f27ed3e94ef8      0      0                          2
3  04c1e14fd54a06c0d4fe98cf0cb8b04c      0      0                          0
4  71f05822bb699a04b694dd30265fdf73      0      0                          0

In [296]:
time_d=app_launch_df.sort_values(['UserId','Date','Minute_Of_Day','Second'],ascending=False).groupby('UserId').head()

In [297]:
time_d_1=time_d.groupby('UserId').first().reset_index()

In [298]:
mas_df=mas_df.merge(time_d_1,on='UserId',how='left')

In [299]:
mas_df.fillna({'Date':mas_df.Date.min(),'Minute_Of_Day':mas_df.Minute_Of_Day.min(),'Second':mas_df.Second.min(),'State':mas_df.State.min(),'Country':mas_df.Country.min(),'Device':mas_df.Device.max(),'OS':mas_df.OS.max()},inplace=True)

In [300]:
def minutes_to_hours(minute):
    return str(timedelta(minutes=minute))[:-3]

res_lastlogin_minute=list(map(minutes_to_hours,mas_df['Minute_Of_Day'].astype(int)))
lastlogin_sec=["%02d"% i for i in mas_df['Second'].astype(int)]
before_colon_lastlogintime=[a.split(':')[0] for a in res_lastlogin_minute]
before_colon_2digit_lastlogintime=["%02d"% i for i in pd.to_numeric(before_colon_lastlogintime)]
after_colon_lastlogintime=[b.split(':')[1] for b in res_lastlogin_minute]
original_lastlogintime=[a+b for a,b in zip(before_colon_2digit_lastlogintime,after_colon_lastlogintime)]
time_with_lastloginsec=[a+str(b) for a,b in zip(original_lastlogintime,lastlogin_sec)]
last_login_date=[str(a)+b for a,b in zip(mas_df['Date'].astype(int),time_with_lastloginsec)]

date_last_login=[]
for i in last_login_date:
    date_last_login.append(datetime(year=int(i[0:4]), month=int(i[4:6]), day=int(i[6:8]), hour=int(i[8:10]), minute=int(i[10:12]), second=int(i[12:14])))

mas_df['Timestamp']=date_last_login
mas_df.drop(columns=['Date','Minute_Of_Day','Second'],axis=1,inplace=True)
mas_df[['State','Country','Device','OS']]=mas_df[['State','Country','Device','OS']].astype(int)
mas_df.rename(columns={'Timestamp':'Last_login_DateTime'},inplace=True)
mas_df.rename(columns={'Device':'Last_login_Device','OS':'Last_login_OS'},inplace=True)

In [302]:
#mas_df.drop(columns=['Time','LaunchDate','PrevLaunch','timediff'],axis=1,inplace=True)

In [303]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State,Country,Last_login_Device,Last_login_OS,Last_login_DateTime
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40

In [304]:
r5=pd.DataFrame(app_launch_df.groupby('UserId').size())
r5.reset_index(inplace=True)
mas_df=mas_df.merge(r5,on='UserId',how='left')
mas_df.rename(columns={0:'App_Launches'},inplace=True)
mas_df['App_Launches']=mas_df['App_Launches'].fillna(value=0)
#mas_df.rename(columns={'App_Launches':'No_Of_AppLaunches'},inplace=True)

In [305]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State,Country,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0

In [73]:
#applaunch hyperactive users
#r5.sort_values(by=0,ascending=False)

In [74]:
#71f05822bb699a04b694dd30265fdf73 hyperactive user
#app_launch_df[app_launch_df['UserId']=='71f05822bb699a04b694dd30265fdf73']

In [95]:
#unique_users_AL=app_launch_df.drop_duplicates(subset='UserId')
#ad_camp_Users=UTM_df.merge(unique_users_AL['UserId'].to_frame(),on='UserId',how='left')
#app_launch_ad_campaign=ad_camp_Users.groupby('UserId').size().reset_index(name='count')
#mas_df=mas_df.merge(app_launch_ad_campaign,on='UserId',how='left')
#mas_df.rename(columns={'count':'AL_dueto_UTM'},inplace=True)

In [306]:
app_vs_utm=app_launch_df.groupby(['UserId','Date','Minute_Of_Day','Second']).size().to_frame().merge(
    UTM_df.groupby(['UserId','Date','Minute_Of_Day','Second']).size().to_frame(),
    left_index=True,
    right_index=True,
    how = 'left')

In [307]:
app_vs_utm.columns = ['AppLaunched','UTMVisited']
app_vs_utm.reset_index(inplace=True)

In [308]:
mas_df=mas_df.merge(app_vs_utm.groupby('UserId').sum()[['UTMVisited']],
                              how='left',
                              left_on='UserId',
                              right_index=True)

In [106]:
#mas_df.drop(columns=['AL_dueto_UTM'],axis=1,inplace=True)

In [311]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State,Country,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches,UTMVisited
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0,0.0
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0,0.0
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0,0.0
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0,0.0
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0,0.0

In [313]:
video_start_genre=pd.pivot_table(video_started_df[['UserId','Genre']],index='UserId',columns='Genre',aggfunc='size').fillna(0)

In [314]:
mas_df=mas_df.merge(video_start_genre,how='left',left_on = 'UserId',right_index=True)

In [315]:
mas_df['UTMVisited']=mas_df['UTMVisited'].fillna(0)

In [316]:
mas_df=mas_df.fillna(0)

In [320]:
mas_df.isnull().sum()

UserId                            0
Reg_N                             0
Reg_Y                             0
No_Of_Devices_Uninstalled         0
State                             0
Country                           0
Last_login_Device                 0
Last_login_OS                     0
Last_login_DateTime               0
App_Launches                      0
UTMVisited                        0
                                  0
 Action                           0
 Adventure                        0
 Animation                        0
 Anime                            0
 Athletics                        0
 Automotive                       0
 Award Show                       0
 Badminton                        0
 Comedy                           0
 Concerts                         0
 Cooking                          0
 Crime                            0
 Current Affairs / General        0
 Documentary                      0
 Drama                            0
 Entertainment                    0
 Entertainment News               0
 Equestrian                       0
                                 ..
 Horror                           0
 Horror / Supernatural            0
 Martial Sports                   0
 Motor Sports                     0
 Music                            0
 Musical / Opera                  0
 Mystery                          0
 Other Sports (General)           0
 Others                           0
 Reality                          0
 Reality Show                     0
 Religious                        0
 Romance                          0
 Series                           0
 Special Event                    0
 Sports Magazine                  0
 TV Shows (General)               0
 Talk Show                        0
 Team Sports (Excl. Football)     0
 Tennis / Squash                  0
 Thriller                         0
 Travel                           0
 Unknown                          0
 Variety                          0
 Wrestling                        0
 Channels                         0
 Movies                           0
 TV Shows                         0
 linear                           0
 vod                              0
Length: 68, dtype: int64

In [318]:
video_start_progtype=pd.pivot_table(video_started_df[['UserId','ProgramType']],index='UserId',columns='ProgramType',aggfunc='size').fillna(0)
mas_df=mas_df.merge(video_start_progtype,how='left',left_on='UserId',right_index=True)
mas_df=mas_df.fillna(0)

In [319]:
video_start_category=pd.pivot_table(video_started_df[['UserId','Category']],index='UserId',columns='Category',aggfunc='size').fillna(0)
mas_df=mas_df.merge(video_start_category,how='left',left_on='UserId',right_index=True)
mas_df=mas_df.fillna(0)

In [321]:
def minutes_to_hours(minute):
    return str(timedelta(minutes=minute))[:-3]

result=list(map(minutes_to_hours,video_started_df['Minute_Of_Day']))
video_started_df['Time']=result
seconds=["%02d"% i for i in video_started_df['Second']]
before_colon_time=[a.split(':')[0] for a in video_started_df['Time']]
before_colon_2digit_time=["%02d"% i for i in pd.to_numeric(before_colon_time)]
after_colon_time=[b.split(':')[1] for b in video_started_df['Time']]
original_time=[a+b for a,b in zip(before_colon_2digit_time,after_colon_time)]
time_with_sec=[a+str(b) for a,b in zip(original_time,seconds)]
Date1=[str(a)+b for a,b in zip(video_started_df['Date'],time_with_sec)]
date=[]
for i in Date1:
    date.append(datetime(year=int(i[0:4]), month=int(i[4:6]), day=int(i[6:8]), hour=int(i[8:10]), minute=int(i[10:12]), second=int(i[12:14])))

video_started_df['Timestamp']=date
Q1=video_started_df[(video_started_df['Timestamp'].dt.hour >= 0) & (video_started_df['Timestamp'].dt.hour < 6)]
Q2=video_started_df[(video_started_df['Timestamp'].dt.hour >= 6) & (video_started_df['Timestamp'].dt.hour < 12)]
Q3=video_started_df[(video_started_df['Timestamp'].dt.hour >= 12) & (video_started_df['Timestamp'].dt.hour < 18)]
Q4=video_started_df[(video_started_df['Timestamp'].dt.hour >= 18) & (video_started_df['Timestamp'].dt.hour < 24)]

In [322]:
Q1['quarter_of_day']='Q1'

In [323]:
Q2['quarter_of_day']='Q2'
Q3['quarter_of_day']='Q3'
Q4['quarter_of_day']='Q4'

In [324]:
videostarted=Q1.append([Q2,Q3,Q4])

In [325]:
mas_df=mas_df.merge(pd.pivot_table(videostarted[['UserId','quarter_of_day']],
                                             index='UserId',
                                             columns='quarter_of_day',
                                             aggfunc='size').fillna(0),
                              how='left',
                              left_on='UserId',
                              right_index=True)

In [326]:
mas_df=mas_df.fillna(0)

In [327]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State,Country,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches,...,Wrestling,Channels,Movies,TV Shows,linear,vod,Q1,Q2,Q3,Q4
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0,...,0.0,526.0,10.0,11.0,526.0,21.0,16.0,67.0,39.0,425.0
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [328]:
mas_df=mas_df.merge(pd.DataFrame(videostarted.groupby('UserId').size(),columns=['Total_Videos_Watched']),
                              how='left',
                              left_on = 'UserId',
                              right_index=True
                             )
mas_df=mas_df.fillna(0)

In [329]:
last_video_watchtime=video_started_df.sort_values(['UserId','Date','Minute_Of_Day','Second'],ascending=False).groupby('UserId').head()
last_video_watchtime_1=last_video_watchtime.groupby('UserId').first().reset_index()
mas_df=mas_df.merge(last_video_watchtime_1,on='UserId',how='left')

In [330]:
mas_df.drop(columns=['Date', 'Minute_Of_Day',
       'Second', 'State_y', 'Genre', 'Category', 'ProgramType', 'Country_y',
       'Device', 'OS', 'VideoId', 'Time'],axis=1,inplace=True)

In [331]:
mas_df.rename(columns={'Timestamp':'Last_Video_Watch_Time'},inplace=True)
mas_df['Last_Video_Watch_Time'].fillna(mas_df.Last_Video_Watch_Time.min(),inplace=True)

In [332]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State_x,Country_x,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches,...,Movies,TV Shows,linear,vod,Q1,Q2,Q3,Q4,Total_Videos_Watched,Last_Video_Watch_Time
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2017-01-06 13:43:08
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2017-01-07 20:00:28
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0,...,10.0,11.0,526.0,21.0,16.0,67.0,39.0,425.0,547.0,2017-06-10 22:20:48
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,2017-01-06 00:02:12
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-06 00:00:08

In [333]:
def minutes_to_hours(minute):
    return str(timedelta(minutes=minute))[:-3]

res_applaunch_time=list(map(minutes_to_hours,app_launch_df['Minute_Of_Day']))
app_launch_df['Time']=res_applaunch_time
applaunch_sec=["%02d"% i for i in app_launch_df['Second']]
before_colon_applaunch_time=[a.split(':')[0] for a in app_launch_df['Time']]
before_colon_2digit_applaunch_time=["%02d"% i for i in pd.to_numeric(before_colon_applaunch_time)]
after_colon_applaunch_time=[b.split(':')[1] for b in app_launch_df['Time']]
original_applaunch_time=[a+b for a,b in zip(before_colon_2digit_applaunch_time,after_colon_applaunch_time)]
time_with_applaunch_sec=[a+str(b) for a,b in zip(original_applaunch_time,applaunch_sec)]
Date_applaunch=[str(a)+b for a,b in zip(app_launch_df['Date'],time_with_applaunch_sec)]
date_applaunch=[]
for i in Date_applaunch:
    date_applaunch.append(datetime(year=int(i[0:4]), month=int(i[4:6]), day=int(i[6:8]), hour=int(i[8:10]), minute=int(i[10:12]), second=int(i[12:14])))

app_launch_df['LaunchDate']=date_applaunch

In [334]:
app_launch_df['PrevLaunch'] = app_launch_df.groupby('UserId')['LaunchDate'].shift(1)

In [335]:
app_launch_df['timediff'] = (app_launch_df['LaunchDate']- app_launch_df['PrevLaunch']).dt.seconds
mas_df = mas_df.merge(app_launch_df[['timediff','UserId']].groupby('UserId').mean().fillna(0),
                              how='left',
                              left_on = 'UserId',
                              right_index=True
                             )
mas_df=mas_df.fillna(0)

In [336]:
appuninstalled=app_uninstall_df.drop_duplicates()
applaunched=app_launch_df.drop_duplicates()

In [337]:
 df_reinstalled= appuninstalled.groupby('UserId')['Date'].max().to_frame().merge(applaunched.groupby('UserId')['Date'].max().to_frame(),
                                                                left_index=True,
                                                                right_index=True,how='outer',
                                                                suffixes=['_uninstalled','_launched'] )
    
df_reinstalled['Reinstalled'] = df_reinstalled['Date_uninstalled'] < df_reinstalled['Date_launched']
df_reinstalled['Reinstalled'] = df_reinstalled['Reinstalled'].astype(int)
    
mas_df = mas_df.merge( df_reinstalled[['Reinstalled']] ,
                              how='left',
                              left_on = 'UserId',
                              right_index =True
                             )

In [338]:
mas_df.rename(columns={'timediff':'Avg_Visit_Duration'},inplace=True)

In [339]:
videostarted=video_started_df.drop_duplicates()
videodetails=video_details_df.drop_duplicates()

In [340]:
mas_df=mas_df.merge(video_started_df.groupby(['UserId','Genre'])['VideoId'].nunique().unstack().fillna(0),
                            how='left',
                            left_on = 'UserId',
                            right_index =True,
                            suffixes = ['','_video_ratio']
                             )
video_per_genre = videodetails.groupby(['Genre'])['VideoId'].nunique()
    
for col in mas_df.columns:
    try:
        if col.endswith('_video_ratio'):
            genre_total_vid = video_per_genre.loc[col.replace('_video_ratio','')]
            mas_df[col] = mas_df[col] / genre_total_vid
    except:
        print("An exception occurred")

An exception occurred

In [341]:
mas_df=mas_df.fillna(0)

In [342]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State_x,Country_x,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches,...,Sports Magazine _video_ratio,TV Shows (General) _video_ratio,Talk Show _video_ratio,Team Sports (Excl. Football) _video_ratio,Tennis / Squash _video_ratio,Thriller _video_ratio,Travel _video_ratio,Unknown _video_ratio,Variety _video_ratio,Wrestling _video_ratio
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0,...,0.6,0.6,0.0,0.0,0.333333,0.033333,0.0,0.0,0.0,0.0
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [343]:
mas_df.loc[mas_df['Last_login_DateTime'] == 0,'Last_login_DateTime']=mas_df['Last_login_DateTime'].min()

In [344]:
mas_df['Dormant'] = (mas_df['Last_login_DateTime'].max() - mas_df['Last_login_DateTime']).dt.days > 30

In [346]:
mas_df['Dormant']=mas_df['Dormant'].astype(int)

In [347]:
mas_df.head()

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State_x,Country_x,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches,...,TV Shows (General) _video_ratio,Talk Show _video_ratio,Team Sports (Excl. Football) _video_ratio,Tennis / Squash _video_ratio,Thriller _video_ratio,Travel _video_ratio,Unknown _video_ratio,Variety _video_ratio,Wrestling _video_ratio,Dormant
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0,...,0.6,0.0,0.0,0.333333,0.033333,0.0,0.0,0.0,0.0,0
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1

In [348]:
mas_df.to_csv('C:/Users/ancy7/Documents/Capstone/Data/Master_data.csv')

In [349]:
mas_df

,UserId,Reg_N,Reg_Y,No_Of_Devices_Uninstalled,State_x,Country_x,Last_login_Device,Last_login_OS,Last_login_DateTime,App_Launches,...,TV Shows (General) _video_ratio,Talk Show _video_ratio,Team Sports (Excl. Football) _video_ratio,Tennis / Squash _video_ratio,Thriller _video_ratio,Travel _video_ratio,Unknown _video_ratio,Variety _video_ratio,Wrestling _video_ratio,Dormant
0,a27134c322d4f56dabc106a6847cb96b,0,0,0,50,1,1,2,2017-01-06 13:42:20,342.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
1,aab39ad0874c59cc388525d511667f9d,0,0,0,40,1,1,2,2017-03-01 20:41:44,5.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
2,f717dc3f757dc18cc0c3f27ed3e94ef8,0,0,2,35,1,2,2,2017-06-11 23:23:24,108.0,...,0.6,0.0,0.0,0.333333,0.033333,0.0,0.0,0.0,0.0,0
3,04c1e14fd54a06c0d4fe98cf0cb8b04c,0,0,0,40,1,2,2,2017-01-10 14:58:56,4.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
4,71f05822bb699a04b694dd30265fdf73,0,0,0,35,1,1,2,2017-01-21 16:24:40,10105.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
5,b704fe9ea1c0738f53db2579db5a6a4a,0,0,0,36,1,1,1,2017-02-04 01:32:40,35.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
6,13d9f55e297d7d9c219fbe9085e1006c,0,1,1,35,1,1,2,2017-05-09 18:23:24,19.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
7,9fbe545a8997556d8534e616387c2a0b,0,0,0,23,40,1,1,2017-01-22 14:09:24,2.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
8,fccc2c0abf5afabf242a70df7b4c9e69,0,1,1,39,1,1,1,2017-01-08 01:42:08,3.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
9,66d4abf4f3b733c27591b3f47c85eff7,0,0,1,37,1,1,1,2017-02-02 22:00:36,8.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
10,f76c8c8010a218fc1d6c7ba66707778c,0,0,0,40,1,1,2,2017-01-12 10:30:24,9.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
11,4b08d96aa6c74c21cd369caa4bfee23b,0,0,1,14,40,1,1,2017-01-06 00:00:56,1.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
12,1a40d7e5b34131b097fac80cf982241b,0,0,1,40,1,1,1,2017-03-05 22:45:52,16.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
13,ad248c30f57d2666a94f84e9318b0af6,0,0,0,35,1,1,2,2017-03-29 23:42:04,12059.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
14,b7b3c1ce773a13b52d39429e305ea615,0,1,1,35,1,1,1,2017-05-29 19:44:44,8.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0
15,ab2ef5dc4df5f45e9b8dff4c077a2811,0,0,1,40,1,1,1,2017-02-10 03:55:12,7.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
16,ca601ff304bf0c0836f8a59f7751b8de,0,0,1,35,1,1,1,2017-01-07 11:24:08,2.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
17,4a48b6f152717235733e4bd48e5a3449,1,0,1,35,1,1,1,2017-03-13 22:02:32,44.0,...,0.2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
18,516f3d05e8784c0caa1e425cb2a56c83,0,0,1,33,40,1,1,2017-01-19 01:03:40,5.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
19,4c4cc9f932592870d04d63b95274b318,0,1,1,35,1,1,1,2017-01-06 00:33:40,4.0,...,0.0,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.0,1
20,951dfb3a9ff4e16344bac38f29c515f6,0,0,1,33,40,1,1,2017-01-06 00:01:56,1.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
21,0c86d551abdd2fd8efa69679da5ba558,0,0,0,35,1,1,2,2017-01-07 21:28:00,3.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
22,8dfbba740ee23a063932172d6ef50e8b,0,0,1,0,255,1,1,2017-01-06 00:01:56,1.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
23,1f9be9226d4393fff4b8d6b94e54c4dd,0,0,0,36,1,1,1,2017-01-19 21:48:36,7.0,...,0.2,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,0.0,1
24,887a062b8a66e897761d4d5ca22fbbac,0,0,1,38,1,1,1,2017-01-06 21:36:12,3.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
25,d37eb28b44d32bff54fd22b25ea0138e,0,0,1,36,1,1,1,2017-01-18 21:42:56,7.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
26,591b910d3c71246bae1eca6566e5cfc8,0,0,1,45,1,1,1,2017-01-14 01:02:56,9.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
27,535959f23c9908bd8cabd72291a814f0,0,0,1,40,1,1,1,2017-06-10 13:41:20,18.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0
28,a88d13fd04e0a7a7bf82a82642666216,0,0,0,0,255,1,2,2017-01-06 00:02:32,1.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
29,4f2d501fa5a5ba55e77062c1f00c20bf,0,1,0,35,1,1,2,2017-01-06 00:02:40,1.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466094,d5bfdf9bfbd1bd25afdd1e50fdc8ed46,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466095,966e11ac74e2f0028b3bd330add99651,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466096,c388605bb6ee7bff1af8c67bbe9fa2fb,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466097,7f525178109feee29d2e736c190cd2d7,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466098,53859b67185c607affad00f9d0219bd5,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466099,a4cd4f696551a8eb6da7cf8c280edd7e,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466100,025ee3189671ccc26b8323bb8689ab3b,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466101,1d9f78552639d701fe1241b06ec6970b,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466102,8c36d269d8d195c076f50e95459235c7,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466103,919e63d2e446743a29c2060777d06f74,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466104,ffdc9a4286c263a20a294067a97ce7ec,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466105,bbb51efeed18c49e130dc9fecbcf6a37,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466106,80041baa5ffb21685331e57935fc3372,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466107,d37fb592056eaa2854b7a3c6e2079e8b,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466108,9b1e8ab440322bc17a97d03d8267a1ad,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466109,4323cc10d3acab66524909b36ca8b3c3,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466110,2bd8a664e276ff091c02c54b9b663530,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466111,e6b7201160a5a82e3f5f17ad744976ab,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466112,aad357ba5cac2ad2e208e59bf131f83f,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466113,26981d3eb2601e9859ff9bb7ea50f190,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466114,331ca4e3ff109ab11e5edbf43ac8e69a,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466115,169f69254a84e987a2e8c901a7c1fb00,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466116,936c68eee53a3f15ccff68c6a70d878f,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466117,3c2513cfe4303aa1a87bf72f52cc9425,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466118,0ebbb1d47297b5b27a5f2b9c3bc1b36d,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466119,819d0622647b5796fe00a13608c12c1f,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466120,33626f1eb1740327def82d542428adc0,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466121,6800bd4e85fd1ac0b88463964cada68e,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466122,301af3fb7fdd5fd86cb8159a1abc0fda,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1
466123,62b1bfbf6f21ead2cbbcd7c5c5b7ad3b,0,0,1,0,0,3,2,2017-01-06 00:00:00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1

In [ ]:
f053c42e98d50e06532ce8d65afb3ab3
291075c45a4b30a53a3123d3a57f8432
d96be0b1386c42092c10ba1bd6a64167
d96be0b1386c42092c10ba1bd6a64167
6cdb56a8ec9941fe739ecf5b2c2803df